# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL="postgres://default:l1mOVT5bQqxz@ep-square-tree-a4kaj0dw-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:l1mOVT5bQqxz@ep-square-tree-a4kaj0dw-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:l1mOVT5bQqxz@ep-square-tree-a4kaj0dw-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:l1mOVT5bQqxz@ep-square-tree-a4kaj0dw.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-square-tree-a4kaj0dw-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="l1mOVT5bQqxz"
POSTGRES_DATABASE="verceldb"

# `openssl rand -base64 32`
AUTH_SECRET="y/XYDtRoiOKb4YzqVXnAAbZ1f3a9JsVirr8vzRX3hRY="
AUTH_URL=http://localhost:3000/api/auth